fastapi
uvicorn
twilio
python-decouple
python_multipart
dify-client
redis
python-keycloak
celery
pydantic-settings
pydantic[email]
envelope
sendgrid
requests
sqlalchemy
alembic
psycopg2-binary
httpx
typing-extensions
urllib3>=2.0.0
simplejson
python-dotenv
structlog
aioredis
fastapi-cache2
psutil
jinja2
aiofiles
redis[hiredis]>=4.2.0
asyncpg==0.29.0
redis[async]>=4.2.0
